@import "../mixsin.scss";

.card-list {
    display: flex;
    flex-wrap: nowrap;
    padding-left: $padding;
    height: 100px;
    overflow: auto;
    margin: $padding; 


    .card-list__item {
        display: flex;
        align-items: center;
        margin-right: $padding;
        border: $border1px;
        border-radius: 6px;
        min-width: 240px;
        padding: $padding;
        background-color: $bgColorhead;
    
        

        .item__card {
            display: flex;
            justify-content: flex-end; 
            flex-grow: 1;  
            
            &::after {
                content: "";
                display: flex;
                width: 40px;
                height: 40px;
                border: 2px solid #FF3E79;
                border-radius: 50%; 
                background: #FFFFFF url("../img/strelka.svg") no-repeat 50% 50%;
            }

            &:hover::after {
                opacity: 0.4;
                box-shadow: 0 0 5px 0 #34495e;
                transform: scale(1.2);
                transition-duration: 0.4s;
            }
        }

    }

}

