/*@import "../mixsin.scss";

.strong-text {
    @include elementWrap;
    $justify-content: space-around;
}

.wrapper {
    @include elementWrap;
    align-items: center;
    margin: 0 16px 32px 16px; 

    & {
        align-self: center;
        
    }

}
*/




.about-info {
    padding: 0 4px 19px 4px;
    border-top: 1px solid #D9FFF5;

    .wrapper-footer {
        padding-top: $padding;

        & {
            text-align: center;
            line-height: $padding;
            color: $a-linc;
    
        }

    }

    
}