@import "/mixsin.scss";

/* Общие для article */

.article__header {
    display: block;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: 1px solid #D9FFF5;
    padding: $padding;
}

.h2 {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: $a-linc;
    font-weight: $fontWeight - 100;
    font-size: $fontSize;
    line-height: $fontHeight + 8;
    margin: $sbros;
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    padding-left: $padding;
    height: 100px;
    overflow: auto; 
}
  
/* section brand */


.card-list__item {
    display: flex;
    align-items: center;
    margin-right: $padding;
    margin-bottom: $padding;
    border: $border1px;
    border-radius: 6px;
    min-width: 240px;
    padding: $padding;
    background-color: $bgColorhead;
    
        

    .item__card {
        display: flex;
        justify-content: flex-end; 
        flex-grow: 1;   
    }

}

/* section technology */ 

.technology__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto; 

    .list-ul__li-technology {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-width: 240px;
        min-height: 160px;
        border: $border1px;
        background: $bgColorhead;
        margin: $padding;
    }

    .li-technology__p {
        padding: $padding;
    }

    .list-ul__a {
        align-self: flex-end;
        padding-right: $padding;
        padding-bottom: $padding; 
    }
}

.prais-table {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto; 
}



.table-card {
    min-width: 260px;
    max-height: 200px;
    border: $border1px;
    background: $bgColorhead;
    margin: 8px;
    margin-right: $padding;
    position: relative;
    border-collapse: collapse;
    padding: $padding;
}

.tb__tr__header {
    text-align: left;
    font-size: $fontSize - 2;
    font-weight: $fontWeight - 100;
    line-height: $padding;
    color: $a-linc;
    padding-top: $padding;
    padding-left: $padding;
    mix-blend-mode: normal;
    opacity: 0.72
}

.tb__tr__paragraf {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSize - 2;
    line-height: $padding + 2;
    padding-bottom: $padding;
    padding-left: $padding;
}

.last-child {
    padding-bottom: 20px;
}

.text-prais {
    margin: $padding;
}

.strong-text {
    @include elementWrap;
}

.wrapper {
    @include elementWrap;
    margin: 0 16px 32px 16px; 

    & {
        align-self: center;
        
    }

}





.about-info {
    padding: 0 4px 19px 4px;
    border-top: 1px solid #D9FFF5;

    .wrapper-footer {
        padding-top: $padding;

        & {
            text-align: center;
            line-height: $padding;
            color: $a-linc;
    
        }

    }

    
}