@import "var/var.scss";
@import "/mixsin.scss";

/* сброс стандартных стилей button */

button {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    border: none;
    background: none;
    padding: $sbros;
}

button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}


/* действия при клике */

.btn:hover::before {
    opacity: 0.6;
    box-shadow: 0 0 5px 0 #34495e;
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.btn:hover::after {
    opacity: 0.6;
    box-shadow: 0 0 5px 0 #34495e;
    transform: scale(1.2);
    transition-duration: 0.4s;
}
/* линия с header-main */


/* кнопки с sitebara */

.btn-close::before {   
    background: url("../img/btn_close.svg");
    @include pseudo;
}

.btn-setings::before {
    background: url("../img/btn_setings.svg");
    @include pseudo;
}

.btn-search::before {
    background: url("../img/btn_search.svg");
    @include pseudo;
}


.btn__order::before {
    content: "ЗАКАЗАТЬ";
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: $bgColorhead;
    display: flex;
    padding-top: 4px;
    padding-left: 12px;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background: $button-color url("../img/order.svg") no-repeat 90% 50%;
}

.btn__order:hover::before {
    opacity: 0.7;
    box-shadow: 0 0 5px 0 #34495e;
    transform: scale(1.1);
    transition-duration: 0.4s;
}

/* действия при клике */


