.header-main {
    background-color: #FFFFFF;
    padding: 18px 0 18px 16px;
    position: relative;

        .btn {
            margin-right: 16px;
        }

        .a {
            padding-right: 16px; 
        }

        .btn-setings {
            padding-left: 20px;
        }
        
}

.section-menu__ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 0 0 16px;
    
   

    .section-ul__li {
       flex: 0 0 auto;
       margin: 0 16px 24px 0;
       

        .section-li__a {
            display: inline-block;
            padding: 6px 9px 6px 16px;
            border: 2px solid transparent;
            border-radius: 6px;   
        

        &:hover {
            background: $bgColorhead;
            border: 2px solid #B8FFEC;
            transition-duration: 0.6s;
            }
        }
    }

}

.text { 

    .text__p {
        padding: 0 16px;
        width: 288px;
        height: 90px;
        overflow: hidden;
    }


.text__opening {
        display: inline-flex;
        align-items: center;
        padding: 16px 0 16px 24px;
    }

    .img_stend {
        width: 100%;
    }
}